.add-form {
  display: flex;
<<<<<<< HEAD
  justify-content: space-around;
  flex-direction: column;
  input {
    width: 150px;
    font-size: 15px;
  }
  .add-button {
    width: 170px;
    font-size: 15px;
    padding: 13px 65px;
    padding: 10px 45px;
    border-radius: 1px;
  }
=======
  justify-content: center;
  width: 80%;
  padding-top: 100px;
>>>>>>> master
}
