.edit-form {
  display: flex;
  flex-direction: column;
  input {
    width: 150px;
    font-size: 15px;
  }
  .edit-button {
    width: 170px;
    font-size: 15px;
    padding: 13px 65px;
    padding: 10px 45px;
    border-radius: 1px;
    margin-right: 5px;
  }
}
