.FooterStyles {
  background: rgba(0, 0, 0, .9);
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  width: 100%;
  padding: 1em auto;
  .icon-list {
    display: flex;
    flex-direction: row;
  }
  li {
    list-style: none;
    padding: 0 30px;
    img {
      width: 70%;
      height: 90%;
    }
    &:hover {
      opacity: .7;
      transition: 0.7s;
    }
  }
}
