.FooterStyles {
  background: black;
  color: white;
  position: absolute;
  bottom: 100;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  width: 100%;
  padding: 1.5em auto;
  .icon-list {
    display: flex;
    flex-direction: row;
  }
  li {
    list-style: none;
    padding: 0 30px;
    img {
      width: 80%;
      height: 100%;
    }
    &:hover {
      opacity: .7;
      transition: 0.7s;
    }
  }
}
