a:hover {
  color: #DA6727;
  transition: 0.7s;
}

a {
  text-decoration: none;
  color: white;
  cursor: e-resize;
}
.HeaderStyles {
  background: black;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-size: 19px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: .2em;
  padding-bottom: .2em;
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
      padding-right: 2.5em;
      letter-spacing: .2em;
      &:hover {
        color: #DA6727;
        transition: 0.7s;
        cursor: e-resize;
      }
    }
  }
}
.header-content {
  margin: 0 auto;
}

.booking-button {
  background: #DA6727;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-radius: 25px;
  &:hover {
    background-color: white;
    color: #DA6727;
    transition: 0.7s;
  }
}
