.flex-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.slide1 {
  background-image: url('../img/meat.jpeg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  img {
    width: 100%;
  }
  .black-logo {
    max-width: 550px;
    margin: 0 auto;
  }
}
.hero-center {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.slide3 {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
}

@media only screen and (max-width: 900px) {
  .hero-center {
    display: flex;
    justify-content: center;
    padding: 1em;
    img {  
      width: 100%;
    }
  }
}