.map-container {
  margin: 0 auto;
  width: 100%;
}
.content-container {
  display: flex;
  justify-content: center;
  flex-direction:column;
  margin: 0 auto;
  width: 80%;
}
.google-map-list {
  width: 70%;
  margin: 4em auto;
  margin-bottom: 0;
  img {
    width: 100%;
  }
}
.schedule-banner {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  border-top: solid 1px #cccccc;
  .schedule-border {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border-bottom: solid 2px #cccccc;
    padding-bottom: 2em;
  }
  img {
    margin: 0 auto;
    width: 200px;
    height: 68px;
  }
}

.arrange-catering-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.map-catering-button {
  background-color: #DA6727;
  color: white;
  font-weight: bold;
  margin-top: 2em;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 15px;
  padding: 13px 65px;
  border-radius: 25px;
  &:hover {
    background-color: black;
    color: #DA6727;
    transition: 0.7s;
  }
}

@media only screen and (max-width: 1000px) {
  .social-sidebar {
    display: none;
  }
  .content-container {
    width: 100%;
    margin: 0 auto;
    .google-map-list {
      width: 100%;
      padding: 0 10px;
    }
  }
}