.map-container {
  margin: 0 auto;
  width: 100%;
  .truck-icon {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2em 0;
  }
}
.content-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.google-map-list {
  width: 60%;
  padding-right: 3em;
  img {
    width: 100%;
  }
}
.social-sidebar {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  width: 450px;
  .social-flex {
    width: 450px;
  }
  img {
    width: 40%;
  }
}

.truck-icon {
  margin-bottom: 1em;
  img {
    max-width: 100%;
  }
}
.arrange-catering-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.map-catering-button {
  background-color: #DA6727;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 1px;
  &:hover {
    background-color: black;
    color: #DA6727;
    transition: 0.7s;
  }
}

@media only screen and (max-width: 900px) {
  .social-sidebar {
    display: none;
  }
  .content-container {
    width: 100%;
    margin: 0 auto;
    .google-map-list {
      width: 100%;
      padding: 0 10px;
    }
  }
}