.slide2 {
  margin: 0;
  background-image: linear-gradient( rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2) ),url('../img/wood.jpeg');
  margin-top: 7em;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  p {
    padding-left: 5px;
  }
    h1 {
      padding-top: 1em;
      padding-bottom: 5px;
      border-bottom: 4px solid #DA6727;
    }
    img {
      max-width: 100%;
      padding-bottom: 5px;
    }
    img {
      max-width: 100%;
    }
}
.menu-container {
  box-shadow: -15px 0 15px -15px rgba(0,0,0, 1.5);
  display: flex;
  background: white;
  border-radius: 1px;
  padding-left: 6em;
  padding-right: 6em;
  justify-content: center;
  width: 60%;
  flex-direction: column;
  margin: 0px auto;
  padding-bottom: 60px;
  padding-left: 7em;
  padding-right: 7em;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 2em;
  .menu-title-flex {
    display: flex;
    justify-content: space-between;
  }
  .menu-bottom {
    display: none;
  }
}
.menu-banner {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  .banner-underline {
    width: 450px;
    display: flex;
    border-bottom: .5px solid white;
  }
  img {
    padding-bottom: 2em;
    width: 119px;
    height: 68px;
    margin: 0 auto;
  }
}
.combo {
  text-align: right;
}
.side-flex {
  display: flex;
  justify-content: space-between;
}
.menu-spacing {
  line-height: 1.5px;
  margin-bottom: 2em;
}

@media only screen and (max-width: 800px) {
  .social-sidebar {
    display: none;
  }
  .menu-container {
    width: 90%;
    margin: 0 auto;
  }
}
